# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Node
node_modules/
dist/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
*.env.local

# OS
.DS_Store
Thumbs.db
